.grid_margin{
    z-index: 1600;
    margin-top: 50px!important;
}

.spanBg{
    background-color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
}

@media (max-width: 480px) {
    .grid_margin{
        margin-top: 10px!important;
    }
}